In [3]:
import pandas as pd

In [5]:
list_of_dataframe = []

In [7]:
rows_in_a_chunk = 10

In [9]:
num_chunks = 5

In [11]:
df_dummy = pd.read_csv('Boston_housing.csv',nrows=2)
colnames = df_dummy.columns

In [15]:
for i in range(0,num_chunks*rows_in_a_chunk,rows_in_a_chunk):
    df = pd.read_csv('Boston_housing.csv', header=0,
                     skiprows=i, nrows=rows_in_a_chunk,
                     names=colnames)
    list_of_dataframe.append(df)

In [21]:
df9 = pd.read_csv('CSV_EX_blankline.csv',skip_blank_lines=False)
df9

   Bedroom   Sq. foot    Locality   Price ($)
0      2.0     1500.0        Good    300000.0
1      3.0     1300.0        Fair    240000.0
2      NaN        NaN         NaN         NaN
3      3.0     1900.0   Very good    450000.0
4      3.0     1850.0         Bad    280000.0
5      NaN        NaN         NaN         NaN
6      2.0     1640.0        Good    310000.0