In [3]:
import pandas as pd

In [5]:
dict_df = pd.read_excel('Housing_data.xlsx', sheet_name=None)
dict_df.keys()

dict_keys(['Data_Tab_1', 'Data_Tab_2', 'Data_Tab_3'])

In [9]:
df13 = pd.read_table('Table_EX_1.txt',sep=',')
df13

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [11]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
list_of_df = pd.read_html(url)
df14 = list_of_df[0]
df14.head()

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540

In [15]:
list_of_df = pd.read_html ("https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table",
                           header=0)
len(list_of_df)

9

In [17]:
for t in list_of_df:
    print(t.shape)

(8, 3)
(0, 3)
(3, 1)
(87, 6)
(9, 8)
(7, 5)
(6, 2)
(2, 2)
(1, 2)

In [19]:
df15 = list_of_df[3]
df15.head()

  Rank            NOC  Gold  Silver  Bronze  Total
0    1  United States    46      37      38    121
1    2  Great Britain    27      23      17     67
2    3          China    26      18      26     70
3    4        Russia‡    19      17      20     56
4    5        Germany    17      10      15     42

In [21]:
df16 = pd.read_json('movies.json')
df16.head()

                                  title  year cast genres
0            After Dark in Central Park  1900   []     []
1  Boarding School Girls' Pajama Parade  1900   []     []
2        Buffalo Bill's Wild West Parad  1900   []     []
3                                Caught  1900   []     []
4                  Clowns Spinning Hats  1900   []     []

In [25]:
cast_of_avengers = df16[(df16['title']=='The Avengers') &
                         (df16['year']==2012)]['cast']
print(list(cast_of_avengers))

[['Robert Downey, Jr.', 'Chris Evans', 'Mark Ruffalo', 'Chris Hemsworth', 'Scarlett Johansson', 'Jeremy Renner', 'Tom Hiddleston', 'Clark Gregg', 'Cobie Smulders', 'Stellan Skarsgård', 'Samuel L. Jackson']]

In [41]:
from tabula import read_pdf
df18_1 = read_pdf('Housing_data.pdf', pages=[1],
                pandas_options={'header':None})
df18_1

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

[         0     1     2  3      4      5     6       7  8    9
 0  0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
 1  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
 2  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
 3  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311]

In [47]:
df18_2 = read_pdf('Housing_data.pdf', pages=[2],
                pandas_options={'header':None})
df18_2

[      0       1      2     3
 0  15.2  386.71  17.10  18.9
 1  15.2  392.52  20.45  15.0
 2  15.2  396.90  13.27  18.9
 3  15.2  390.50  15.71  21.7]

In [49]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\emili\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\emili\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [51]:
from bs4 import BeautifulSoup

In [55]:
with open('test.html','r') as fd:
    soup = BeautifulSoup(fd)
    print(type(soup))

<class 'bs4.BeautifulSoup'>

In [57]:
print(soup.prettify())

<html>
 <body>
  <h1>
   Lorem ipsum dolor sit amet consectetuer adipiscing
elit
  </h1>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa
   <strong>
    strong
   </strong>
   . Cum sociis natoque penatibus
et magnis dis parturient montes, nascetur ridiculus
mus. Donec quam felis, ultricies nec, pellentesque
eu, pretium quis, sem. Nulla consequat massa quis
enim. Donec pede justo, fringilla vel, aliquet nec,
vulputate eget, arcu. In enim justo, rhoncus ut,
imperdiet a, venenatis vitae, justo. Nullam dictum
felis eu pede
   <a class="external ext" href="#">
    link
   </a>
   mollis pretium. Integer tincidunt. Cras dapibus.
Vivamus elementum semper nisi. Aenean vulputate
eleifend tellus. Aenean leo ligula, porttitor eu,
consequat vitae, eleifend ac, enim. Aliquam lorem ante,
dapibus in, viverra quis, feugiat a, tellus. Phasellus
viverra nulla ut metus varius laoreet. Quisque rutrum.
Aenean imperdiet. Etiam ultricies nisi vel augue.
Curabitur ullamcorper ultricies nisi.
  </p>
  <h1>
   Lorem ipsum dolor sit amet consectetuer adipiscing
elit
  </h1>
  <h2>
   Aenean commodo ligula eget dolor aenean massa
  </h2>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis,
ultricies nec, pellentesque eu, pretium quis, sem.
  </p>
  <h2>
   Aenean commodo ligula eget dolor aenean massa
  </h2>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis,
ultricies nec, pellentesque eu, pretium quis, sem.
  </p>
  <ul>
   <li>
    <a href="https://en.wikipedia.org/wiki/Entropy_(information_theory)">
     Information Entropy
    </a>
   </li>
   <li>
    <a href="http://www.gutenberg.org/browse/scores/top">
     Top books in Gutenberg
    </a>
   </li>
   <li>
    <a href="https://www.imdb.com/chart/top">
     Top 250 movies in IMDB
    </a>
   </li>
  </ul>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis,
ultricies nec, pellentesque eu, pretium quis, sem.
  </p>
  <form action="#" method="post">
   <fieldset>
    <label for="name">
     Name:
    </label>
    <input id="name" placeholder="Enter your
full name" type="text"/>
    <label for="email">
     Email:
    </label>
    <input id="email" placeholder="Enter
your email address" type="email"/>
    <label for="message">
     Message:
    </label>
    <textarea id="message" placeholder="What's on your
mind?"></textarea>
    <input type="submit" value="Send message"/>
   </fieldset>
  </form>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis,
ultricies nec, pellentesque eu, pretium quis, sem.
  </p>
  <table class="data">
   <tr>
    <th>
     Entry Header 1
    </th>
    <th>
     Entry Header 2
    </th>
    <th>
     Entry Header 3
    </th>
    <th>
     Entry Header 4
    </th>
   </tr>
   <tr>
    <td>
     Entry First Line 1
    </td>
    <td>
     Entry First Line 2
    </td>
    <td>
     Entry First Line 3
    </td>
    <td>
     Entry First Line 4
    </td>
   </tr>
   <tr>
    <td>
     Entry Line 1
    </td>
    <td>
     Entry Line 2
    </td>
    <td>
     Entry Line 3
    </td>
    <td>
     Entry Line 4
    </td>
   </tr>
   <tr>
    <td>
     Entry Last Line 1
    </td>
    <td>
     Entry Last Line 2
    </td>
    <td>
     Entry Last Line 3
    </td>
    <td>
     Entry Last Line 4
    </td>
   </tr>
  </table>
  <p>
   Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa.
Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. Donec quam felis,
ultricies nec, pellentesque eu, pretium quis, sem.
  </p>
 </body>
</html>

In [59]:
print(soup.p)

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Aenean commodo ligula eget dolor. Aenean massa
<strong>strong</strong>. Cum sociis natoque penatibus
et magnis dis parturient montes, nascetur ridiculus
mus. Donec quam felis, ultricies nec, pellentesque
eu, pretium quis, sem. Nulla consequat massa quis
enim. Donec pede justo, fringilla vel, aliquet nec,
vulputate eget, arcu. In enim justo, rhoncus ut,
imperdiet a, venenatis vitae, justo. Nullam dictum
felis eu pede <a class="external ext" href="#">link</a>
mollis pretium. Integer tincidunt. Cras dapibus.
Vivamus elementum semper nisi. Aenean vulputate
eleifend tellus. Aenean leo ligula, porttitor eu,
consequat vitae, eleifend ac, enim. Aliquam lorem ante,
dapibus in, viverra quis, feugiat a, tellus. Phasellus
viverra nulla ut metus varius laoreet. Quisque rutrum.
Aenean imperdiet. Etiam ultricies nisi vel augue.
Curabitur ullamcorper ultricies nisi.</p>

In [61]:
all_ps = soup.find_all('p')
print('total number of <p> --- {}'.format(len(all_ps)))

total number of <p> --- 6

In [63]:
table = soup.table
print(table.contents)

['\n', <tr>
<th>Entry Header 1</th>
<th>Entry Header 2</th>
<th>Entry Header 3</th>
<th>Entry Header 4</th>
</tr>, '\n', <tr>
<td>Entry First Line 1</td>
<td>Entry First Line 2</td>
<td>Entry First Line 3</td>
<td>Entry First Line 4</td>
</tr>, '\n', <tr>
<td>Entry Line 1</td>
<td>Entry Line 2</td>
<td>Entry Line 3</td>
<td>Entry Line 4</td>
</tr>, '\n', <tr>
<td>Entry Last Line 1</td>
<td>Entry Last Line 2</td>
<td>Entry Last Line 3</td>
<td>Entry Last Line 4</td>
</tr>, '\n']

In [65]:
for child in table.children:
    print(child)
    print('*****')

*****
<tr>
<th>Entry Header 1</th>
<th>Entry Header 2</th>
<th>Entry Header 3</th>
<th>Entry Header 4</th>
</tr>
*****


*****
<tr>
<td>Entry First Line 1</td>
<td>Entry First Line 2</td>
<td>Entry First Line 3</td>
<td>Entry First Line 4</td>
</tr>
*****


*****
<tr>
<td>Entry Line 1</td>
<td>Entry Line 2</td>
<td>Entry Line 3</td>
<td>Entry Line 4</td>
</tr>
*****


*****
<tr>
<td>Entry Last Line 1</td>
<td>Entry Last Line 2</td>
<td>Entry Last Line 3</td>
<td>Entry Last Line 4</td>
</tr>
*****


*****

In [67]:
children = table.children
des = table.descendants
print(len(list(children)), len(list(des)))

9 61

In [69]:
data = soup.findAll('tr')
print('data is a {} and {} items long'.format(type(data),len(data)))

data is a <class 'bs4.element.ResultSet'> and 4 items long

In [71]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\emili\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\emili\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [73]:
writer = pd.ExcelWriter('test_output.xlsx')
df.to_excel(writer, 'Sheet1')
writer.save()
writer

NameError: name 'df' is not defined